body {
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif; 
  max-width: 1200px;
}

h1{
  font-size: 45px;
  font-weight: 700;
  color: #000000;
}

aside h2 {
  font-size: 22px;
  font-weight: 700;
  color: #FFFFFF;
}

h3{
  font-size: 14px;
  font-weight: 700;
  color: #000000;
}

p {
  font-size: 14px;
  font-weight: 400;
  color: #595959;
}

.flex {
  display: flex;
}

.content {
  margin: 40px;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);;
}

aside {
  
  background: #1E2939;
}

img {
  padding-top: 40px;
  width: 100%;
}

.sidebar_info {
  padding-top: 50px;
  padding-left: 40px;
}

.contact_info {
  align-items: center;
}

.contact_info p {
  font-size: 14px;
  font-weight: 700;
  color: #FFFFFF;
}

a {
  font-size: 14px;
  font-weight: 400;
  color: #595959;
  text-decoration: none;
  padding-left: 10px;
}

a:hover {
  color: #f5581fd0;
}

ul {
  list-style: none;
  padding: 15px;
}

ul li::before {
  content: "\2022";
  color: #FB6D3A;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

.tech_skills,
.soft_skills {
  color: #FFFFFF;
}

.main {
  padding-left: 84px;
  padding-top: 108px;
  padding-right: 20px;
}

.projects {
  padding-top: 40px;
}

.projects ol {
  padding: 20px;
}

ol {
  padding: 0;
}

.color_text {
  color: #FB6D3A;
}

.work_period {
  color: #A8A8A8;
}

.pad_bottom {
  padding-bottom: 104px;
}

@media screen and (max-width: 700px) {

  .flex {
    flex-direction: column;
  }

  aside {
    width: 100%;
  }
  
  .sidebar_info {
    text-align: center;
    padding-left: 0;
  }

  .main {
    text-align: center;
    padding-left: 0;
  }

  ol {
    padding: revert;
  }

  .projects ol {
    padding: revert;
  }
}

